.DS_Store
.idea/
study_docker/postgres_data/
.env
**/.env

artifacts/backup_large_files/
legacy_snapshots/**/study_docker/postgres_data/
*.parquet
*.zip
*.csv
!test/fixtures/*.csv
git_rep_bare/
inst_git.txt
archive/
spark_local/logs/
spark_local/work/
# General
**/__pycache__/
*.pyc

# Airflow
airflow/logs/
airflow/dags/__pycache__/
